#container {
  border: 1px solid #cccccc;
  display: inline-block;
}

.toolbar {
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  background-color: #dddddd;
}

.editor {
  
}

.icon {
  transform: scale(1.00);
  max-width: 0.80em;
  max-height: 0.80em;
  padding: 0.25em 0.30em 0.25em 0.30em;
  color: #333333;
}

.icon:hover {
  background-color: #dddddd;
}
